*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
  background-color: rgb(48, 68, 193);

}

.navbar-toggler{
  display: none;
}

.navbar img, footer img{
  width: 150px;
}
.navbar li{
  padding-top: 15px;
  margin: 0 10px;
  display: inline-block;
}
.theUl a{
  color: #fff;
  text-decoration: none;
}
.theUl a:hover{
  color: #fff;
}


.sec1{
  padding: 300px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 68, 193);
    height: 500px;
}

aside{
    margin: 20px;
}

.sec2{
    display: flex;
    margin: 20px 0;
}

.sec3{
    background-color: rgb(46, 68, 193);
    border-radius: 5px;
    max-width: 70%;
    margin: 50px auto;
    padding: 40px 20px;
    text-align: center;
  }
  
  .sec3 aside{
    background-color: #fff;
    margin: 20px;
    padding: 2%;
    border-radius: 8px;
    max-width: 350px;
  }
  .sec3 h4{
    color: #fff;
  }

  .form{
  text-align: center;
  margin: auto;
  padding: 50px;
  max-width: 600px;
}

footer{
    display: flex;
    background-color: rgb(46, 68, 193);
    justify-content: space-between;
    place-items: center;
    padding: 50px;
    color: #fff;
  }
  
  footer aside{
    padding: 5px;
  }
  #TestimonyMain{
    margin: 200px auto;
  }

  #TestimonyMain img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
  }



  /* //MEDIA QUERY// */

  @media (max-width:950px) {
    .sec1, .sec2{
      padding: 100px 0;
      display: block;
      height: fit-content;
    }

    .sec1 aside, .sec2 aside{
      width: 50%;
      padding: 30px 0;
      margin: auto;
      justify-content: center;
    }

    .sec1 img, .sec2 img{
      width: 90%;
    }

  }
  @media (max-width:910px) {
    .navbar-toggler{
      display: block;
      border: none;
      outline: none;
    }

    .theUl{
      display: none;
    }
  }

  @media (max-width:850px) {
    .sec3 aside{
      width:80%;
      margin:20px auto;
    }
  }

  @media (max-width:670px) {
  

    .sec3, .sec3 aside{
      width: 90%;
      margin:20px auto;
    }

    footer{
      /* justify-content: space-around; */
      flex-wrap: wrap;
    }

    footer img{
      margin: 20px 0;
    }
  }